*.pyc
.idea
__pycache__/*
quantstats/__pycache__/*
dist
/build
/docs/build/doctrees/*
/docs/build/html/*
/docs/build/epub/*
!/docs/build/epub/*.epub
quantstats.egg-info
QuantStats.egg-info
Icon
# 移除/tests行，以便git可以跟踪tests目录下的文件更改
.vscode
Icon
**/.DS_Store
